.carslider {
  &__inner {
    width: 800px;
    margin-right: 34px;
  }
  .slick-prev:before {
    content: 'ᐸ';
    font-size: 20px;
    opacity: 1;
    color: #fff;
  }
  .slick-next:before {
    content: 'ᐳ';
    font-size: 20px;
    opacity: 1;
    color: #fff;
  }
  &__img {
    border-radius: 25px;
    max-width: 100%;
    object-fit: cover;
    height: 100%;
  }
  &__item-title3 {
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .carslider__inner {
    width: 550px;
  }
}

@media (max-width: 1000px) {
  .carslider__inner {
    width: 100%;
  }
}
