.carbody {
  width: 260px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  margin: 0 40px 0 0 ;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  background: #F7F7F7;
  border-radius: 25px;
}

.rate {
  margin: 20px;
}
.rate button{
  width: 90px;
}
