// @import './normalize.scss';

//! тут общие стили 

* {
  // box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
  }
  
.root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
}
