
.map__box {
  border-radius: 25px;
  margin: 0 auto;
  width: 1870px;
  height: 570px;
  border: 1px solid rgb(228, 228, 228);
  overflow: hidden;
  // box-shadow: 0px 0px 5px 0px rgba(148, 148, 148, 0.5);
}
