.car__desc {
  width: 100%;
  &-title {
    margin: 0;
    font-weight: 700;
    font-size: 55px;
    line-height: 66px;
    color: #262626;
    margin-bottom: 20px;
    & span {
      display: block;
      font-size: 45px;
      color: #737373;
    }
  }
  &-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .item__price {
    display: flex;
    background-color: #CA0100;
    padding: 20px 10px;
    margin-bottom: 25px;
    font-size: 40px;
    border-radius: 6px;
    color: #fff;
    font-weight: 700;
    & span {
      font-size: 40px;
      margin-left: auto;
      color: #fff;
    }
  }
  .item__param {
    font-size: 25px;
    color: #262626;
    margin-bottom: 25px;
    border-bottom: none;
    & span {
      margin-left: 0;
    }
  }
  &-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #737373;
    border-bottom: 1px solid #e5e5e5 ;
    display: flex;
  & span {
    font-weight: 700;
    color: #262626;
    display: inline-block;
    margin-left: auto;
  }
  & + & {
    margin-top: 10px;
  }
}
&-btn {
  cursor: pointer;
  border: none;
  margin-top: 50px;
  border-radius: 6px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  padding: 15px 30px;
  background: #CA0100;
}
}

@media (max-width: 1300px) {
  .car__desc .item__price {
    font-size: 30px;
  }
  .car__desc .item__price span {
    font-size: 30px;
}
}

@media (max-width: 1200px) {
  .car__desc-title {
    font-size: 35px;
    line-height: 52px;
    margin-bottom: 0;
    display: flex;
}
.car__desc .item__price span {
    font-size: 25px;
}
.car__desc-title span{
  font-size: 35px;
  margin-left: 10px;
}
.car__desc .item__price {
  font-size: 25px;
  margin-bottom: 0;
  padding: 10px;
}

.car__desc .item__param {
  font-size: 20px;
  margin-bottom: 0; 
}
}

@media (max-width: 480px) {
  .car__desc-title {
    font-size: 25px;
    line-height: 35px;
}
.car__desc-title span {
  font-size: 25px;
}
  .slick-dots {
    bottom: 10px;
}
.slick-dots li button:before {
  font-size: 13px;
  width: 30px;
  height: 30px;
  text-align: center;
  opacity: .35;
  color: #fff;
}
.slick-dots li.slick-active button:before {
  opacity: .85;
  color: #fff;
}
}

