.car__desc {
  width: 100%;
  &-title {
    margin: 0;
    font-weight: 700;
    font-size: 55px;
    line-height: 66px;
    color: #262626;
    margin-bottom: 30px;
    & span {
      display: block;
    }
  }
  &-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #737373;
  & span {
    font-weight: 700;
  }
  & + & {
    margin-top: 10px;
  }
}
&-btn {
  cursor: pointer;
  border: none;
  margin-top: 50px;
  background: #CA0100;
border-radius: 6px;
font-weight: 700;
font-size: 16px;
line-height: 19px;
text-transform: uppercase;
color: #fff;
text-align: center;
padding: 15px 30px;
}
}

