@keyframes fade-in-catalog {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.catalog {
  margin-bottom: 50px;
  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
    animation: fade-in-catalog 1s forwards ease;
  }
  &__box{
    display: flex;
  }
  .style_pagination__5jYac {
    padding: 0;
    margin-top: 30px;
  }
  .style_page__aTjse {
    border-radius: 6px;
  }
  .style_page__aTjse + .style_page__aTjse{
    margin-left: 10px;
  }
  .slider__item-img {
    width: 300px;
  }
  .slider__item-list {
    padding: 0;
    margin: 5px 0;
  }
  .slider__item-param-text {
    color: #686868;
  }
  .slider__item-param {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
  .slider__item-title {
    margin: 0;
  }
  .slider__item-title2 {
    font-size: 23px;
    margin-left: 10px;
  }
  .slider__item-param-value,
  .slider__item-param-text {
    margin: 0;
  }
  .slider__item-btn {
    padding: 2px 10px;
}
.slider__item-price {
  font-size: 20px;
}
}

@media (max-width: 929px) {
  .catalog__inner {
    justify-content: space-evenly;
}
}
