.navbar {
  &__logo {
    width: 130px;
  }
  &__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }
  &__list {
    margin: 0;
    padding: 0;
  }
  &__list-item {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    & + & {
      margin-left: 30px;
    }
  }
  &__list-link {
    text-decoration: none;
    color: #262626;
  }
  &__list-link.active {
    color: #fff;
    background-color: #CA0100;
    padding: 5px 7px;
    border-radius: 6px;
  }
}

@media (max-width: 768px) {
  .navbar__inner {
    align-items: flex-start;
  }
  .navbar__list {
    padding: 50px 0 0 0;
}
  .navbar__list-item {
    display: block;
    text-align: right;
}
.navbar__list-item + .navbar__list-item {
  margin-left: 0;
  margin-top: 30px;
}
.navbar__list-link.active {
  display: block;
  text-align: center;
}
}
