.slider {
  margin-top: 50px;
  &__inner {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #262626;
  }
  &__btn {
    margin-left: 50px;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    border-radius: 11px;
    background: #CA0100;
    padding: 5px 30px;
  }
  &__item-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item-price {
    font-weight: 700;
  }
  &__item-btn {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    border-radius: 6px;
    background: #CA0100;
    padding: 5px 20px;
  }
  &__item-img {
    width: 328px;
    height: 202px;
    border-radius: 25px;
  }
  .slick-slider {
    position: relative;
    height: 450px;
  }
  .slick-list {
    height: 450px;
  }
  .slick-slide {
    width: 328px;
    margin-left: 25px;
  }
}

