@keyframes fade-block-translateX{
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-block{
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-title {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.user__box {
  display: flex;
  column-gap: 45px;
  margin-bottom: 50px;
}
.user__box-value {
  width: 100%;
}
.title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #262626;
  animation: fade-in-title 1s forwards ease;
}

.btn {
  cursor: pointer;
  border: none;
  width: 330px;
  height: 55px;
  border-radius: 6px;
  background: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #262626;
  transition: all 0.3s;
  margin-top: auto;
  &:hover {
    box-shadow: 0px 2px 12px 0px rgba(33,33,33,0.2);
  }
}

.info {
  width: 431px;
  height: 630px;
  display: flex;
  flex-direction: column;
  position: relative;
  animation: fade-block-translateX 1s forwards;
  &__inner {
    margin-top: auto;
    border-radius: 25px;
    background: #CA0100;
    min-height: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 2px 12px 0px rgba(33,33,33,1);
  }
  &__photo {
    border: none;
    width: 330px;
    height: 330px;
    border-radius: 25px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;  
    box-shadow: 0px 2px 12px 0px rgba(33,33,33,1);
  }
  &__content {
    min-height: 261px;
    width: 330px;
    margin-top: auto;
    padding: 0 30px 30px 30px;
    display: flex;
    flex-direction: column;
  }
  &__content-name {
    font-weight: 700; 
    font-size: 35px;
    line-height: 41px;
    color: #FFFFFF;
    margin: 0;
    margin: 25px 0 5px 0;
  }
  &__content-role,
  &__content-email,
  &__content-tel {
    font-size: 22px;
    line-height: 29px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 10px;
    padding-left: 56px;
    position: relative;
  }
  &__content-role,
  &__content-email,
  &__content-tel {
    &::after {
      content: "";
      position: absolute;
      width: 25px;
      height: 25px;
      left: 0;
      top: 50%;
      transform: translateY(-50%); 
    }
  }
  &__content-role {
    &::after {
      background: url(./Privatecomponents/images/vuesax-linear-user.svg) no-repeat;
      background-size: cover;
    }
  }
  &__content-email {
    &::after {
      background: url(./Privatecomponents/images/vuesax-linear-message-text.svg) no-repeat;
      background-size: cover;
    }
  }
  &__content-tel {
    &::after {
      background: url(./Privatecomponents/images/vuesax-linear-call.svg) no-repeat;
      background-size: cover;
    }
  }
  &__content-info {
    outline: none;
    margin: 25px 0 5px 0;
    height: 30px;
    border: none;
    border-radius: 6px;
    padding: 3px 20px;
    font-size: 14px;
  }
  &__content-btn:hover {
    background-color: rgb(207, 207, 207);
  }
  .content__phone {
    margin: 0 0 4px 0;
  }
}

.bookings {
  width: 100%;
  margin-bottom: 50px;
  animation: fade-block 1.4s forwards;
  &__item {
    border-radius: 25px;
    background: #F7F7F7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    position: relative;
    transition: all 0.3s;
    box-shadow: 0px 2px 12px 0px rgba(33,33,33,0.2);
    margin-bottom: 20px;
    &::after {
      content: "";
      width: 95%;
      height: 1px;
      background-color: #C2C2C4;
      position: absolute;
      top: 53px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__item-pre-booking {
    border-radius: 25px;
    background: #F7F7F7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    position: relative;
    transition: all 0.3s;
    box-shadow: 0px 2px 12px 0px rgba(33,33,33,0.2);
    border: 2px solid #c58383;
    margin-bottom: 20px;
    &::after {
      content: "";
      width: 95%;
      height: 1px;
      background-color: #C2C2C4;
      position: absolute;
      top: 53px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__box-value,
  &__box-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #262626;
    margin: 0;
    margin: 10px 0;
  }
  &__box-title {
    color: #7c7c7c;
  }
  &__box-btn {
    cursor: pointer;
    border: none;
    background: #CA0100;  
    color: #fff;
    padding: 2px 10px;
    border-radius: 6px;
  }
}

.favorites {
  animation: fade-block 1.5s forwards;
  width: 100%;
  margin-bottom: 50px;
  &__inner {
    border-radius: 25px;
    background: #F7F7F7;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
}

.addcar {
  //-----стили инпутов формы добавления автомобилей и модалки----//
  .css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
    background-color: #fff;
  }
  .css-1u3bzj6-MuiFormControl-root-MuiTextField-root,
  .css-16awh2u-MuiAutocomplete-root {
    width: 380px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 1px 12px 0px rgba(134, 134, 134, 0.2);

  }
  .css-wp08kf-MuiFormControl-root-MuiTextField-root,
  .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-color: transparent;
    border-radius: 10px;
  }
  //--------------------------------------------------//

  animation: fade-block 1.7s forwards;
  width: 100%;
  &__inner {
    padding: 33px;
    border-radius: 25px;
    background: #cccccf;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 0px 2px 12px 0px rgba(33,33,33,0.2);
  }
  &__item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
  }
  &__item-buttons,
  &__item-dropzone,
  &__item-address {
    width: 100%;
  }
  &__btn {
    background: #CA0100;
    color: #fff;
  }
  &__item-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    row-gap: 10px;
    padding: 0;
  }
  &__item-list-item {
    position: relative;
    list-style: none;
    width: 120px;
    height: 120px;
    box-shadow: 0px 2px 12px 0px rgba(33,33,33,0.2);
  margin-right: 15px;
  }

  &__item-list-img {
    max-width: 100%;
    border-radius: 10px;
    object-fit: cover;
    height: 100%;
  }
  &__item-list-btn {
    border: none;
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    right: -10px;
    top: -10px;
    &::after {
      content: "x";
      font-size: 18px;
    }
  }
  &__item-buttons {
    display: flex;
    justify-content: space-between;
  }
  &__item-buttons-btn {
    cursor: pointer;
    border: none;
    background: #CA0100;
    padding: 15px 40px;
    font-weight: 700;
    // letter-spacing: 1.2;
    color: #fff;
    border-radius: 10px;
    text-transform: uppercase;
    transition: all 0.3s;
    &:hover {
      background: #ee0101;
    }
  }
}

.react-tabs {
  width: 100%;
}
.react-tabs__tab-panel {
  margin-top: 30px;
}
.react-tabs__tab-list {
  border-bottom: 1px solid #d37d7d !important;
}
.react-tabs__tab--selected {
  border-color: #d37d7d !important;
  color: #d32f2f !important;
}

.dnd {
  margin: 0;
  border: 3px solid #ffffff;
  border-radius: 10px;
  width: 373px !important;
  height: 250px !important;
  background-color: transparent !important;
  position: relative;
  outline: none;
  transition: all 0.3s;
  border-style: dashed;
  &:hover {
    background-color: rgba(#fff, 0.3) !important;
  }
  &::after {
    content: "";
    width: 50px;
    height: 50px;
    background: url(./Privatecomponents/images/vuesax-outline-camera.png) no-repeat 0 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
  }
  &::before {
    content: "Выберите или перетащите фото";
    position: absolute;
    width: 250px;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
  }
}
.dnd p {
  display: none;
}

@media (max-width: 1300px) {
  .bookings__inner {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: space-between;
  }
  .bookings__box {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .bookings__item-pre-booking {
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
  margin-bottom: 0;
  }
  .bookings__item-pre-booking::after {
  display: none;
  }
  .bookings__box-value,
  .bookings__box-title {
    margin: 3px 0;
  }

}
@media (max-width: 1135px) {
  .bookings__item-pre-booking {
    width: 100%;
    }
}

@media (max-width: 992px) {
  .user__box {
    column-gap: 0;
    // margin-bottom: 50px;
    flex-direction: column;
  }
    .bookings__inner {
  justify-content: space-between;
  }
    .info {
  margin-bottom: 30px;
  width: 100%;
  }
  .bookings__item-pre-booking {
    width: 380px;
    }
}

@media (max-width: 768px) {
  .user__box {
    margin-top: 70px;
  }
  .bookings__item-pre-booking {
    width: 100%;
    }
}

@media (max-width: 568px) {
  .info {
    height: 400px;
}
.info__inner {
  min-height: 370px;
}
.info__photo {
  width: 200px;
  height: 200px;
}
.info__content {
  min-height: 161px;
  width: 220px;
}
.btn {
  width: 100%;
  height: 35px;
  font-size: 14px;
  line-height: 1;
}
.info__content-name {
  font-size: 25px;
  line-height: 30px;
  margin: 0;
}
.info__content-role,
.info__content-email, 
.info__content-tel {
  margin-bottom: 0;
}
.title {
  font-size: 25px;
  line-height: 35px;
}
.info__content-role, .info__content-email, .info__content-tel {
  font-size: 16px;
  padding-left: 35px;
}
.info__content-role::after, .info__content-email::after, .info__content-tel::after {
  width: 17px;
  height: 17px;
}
.info__content-info {
  height: 20px;
}
}




